name: Main Deployment
on:
  push:
    branches: [main]

jobs:
  call-lint:
    uses: ./.github/workflows/reusable-lint.yml

  build-and-push:
    needs: call-lint
    runs-on: ubuntu-latest
    permissions:
      contents: read
      packages: write
    steps:
      - uses: actions/checkout@v4

      - name: Run Custom Checker
        uses: ./.github/actions/todo-checker/

      - name: Log in to GHCR
        uses: docker/login-action@v3
        with:
          registry: ghcr.io
          username: ${{ github.actor }}
          password: ${{ secrets.GITHUB_TOKEN }}

      - name: Build and Push
        uses: docker/build-push-action@v5
        with:
          context: .
          push: true
          tags: ghcr.io/${{ github.repository }}/todo-app:latest
